# Ignore Python virtual environments
venv/
.venv/
__pycache__/

# Ignore Git directory
.git/
.gitignore

# Ignore Dockerfile
Dockerfile
.dockerignore

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
